# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
trace

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Generated eBPF files
*.o
trace_*.go

# Dependency directories
vendor/

# Go workspace file
go.work

# vmlinux header
vmlinux.h 